In [1]:
'''Q1. Create one variable containing following type of data:

(i)	string

(ii)	list

(iii)	float

(iv)	tuple'''

'Q1. Create one variable containing following type of data:\n\n(i)\tstring\n\n(ii)\tlist\n\n(iii)\tfloat\n\n(iv)\ttuple'

In [8]:
# let suppose we make a variable named as "var",which consist of all these things
var = ["pwskills",12,34,("keyboard",45.89),["python",29,89],45,78]
print(var)

['pwskills', 12, 34, ('keyboard', 45.89), ['python', 29, 89], 45, 78]

In [9]:
'''Q2. Given are some following variables containing data:

(i)	var1 = ‘ ‘

(ii)	var2 = ‘[ DS , ML , Python]’

(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv)	var4 = 1.


What will be the data type of the above given variable.'''

'Q2. Given are some following variables containing data:\n\n(i)\tvar1 = ‘ ‘\n\n(ii)\tvar2 = ‘[ DS , ML , Python]’\n\n(iii)\tvar3 = [ ‘DS’ , ’ML’ , ‘Python’ ]\n\n(iv)\tvar4 = 1.\n\n\nWhat will be the data type of the above given variable.'

In [10]:
var = ''
type(var)

str

In [11]:
var2 = '[DS,ML,PYTHON]'
type(var2)

str

In [12]:
var3 = ['DS','ML','PYTHON']
type(var3)

list

In [13]:
var4 = 1.
type(var4)

float

In [14]:
'''Q3. Explain the use of the following operators using an example:

(i)	/

(ii)	% 

(iii)	//

(iv)	**'''

'Q3. Explain the use of the following operators using an example:\n\n(i)\t/\n\n(ii)\t%\xa0\n\n(iii)\t//\n\n(iv)\t**'

In [15]:
# "/" operator is gernerally use to find quotient when one value is divided by other
3/2

1.5

In [16]:
# "%" operator is generally use to find remainder when one value is divided by other
3%2

1

In [17]:
# "//" operator is generally use to find the integer part od the quotient when one value is divided by other
3//2

1

In [18]:
# "**" operator is generally use to raise a number to the power of an other number.
3**2

9

In [19]:
'''Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
element and its data type.'''

'Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the \nelement and its data type.'

In [23]:
list = ["ayush",34,56,78.89,[67,78,"riddhi"],("hp","lenovo",56),45.8,2+7j]
for i in list:
    print(i,type(i))

ayush <class 'str'>
34 <class 'int'>
56 <class 'int'>
78.89 <class 'float'>
[67, 78, 'riddhi'] <class 'list'>
('hp', 'lenovo', 56) <class 'tuple'>
45.8 <class 'float'>
(2+7j) <class 'complex'>

In [24]:
'''Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
times it can be divisible.'''

'Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many \ntimes it can be divisible.'

In [30]:
#here we take a program to check weather a number is divisible by 7 or not
def isDivisible(num) :
     
    # If number is negative, make it positive
    if num < 0 :
        return isDivisible( -num )
 
    # Base cases
    if( num == 0 or num == 7 ) :
        return True
     
    if( num < 10 ) :
        return False
         
    # Recur for ( num / 10 - 2 * num % 10 )
    return isDivisible( num // 10 - 2 * ( num - num // 10 * 10 ) )
     
# Driver program
num = int(input("enter the number: "))
if(isDivisible(num)) :
    print ("Divisible")
else :
    print ("Not Divisible")

enter the number:  49

Divisible

In [25]:
'''Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not.'''

'Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is \ndivisible by 3 or not.'

In [26]:
list = [3,45,67,89,15,24,27,17,54,23,35,46,18,9,10,11,12,17,98,86,56,32,8,7,29,26,59,69]
for i in list:
    if i % 3 == 0:
        print(i,"yes divisible by 3")

3 yes divisible by 3
45 yes divisible by 3
15 yes divisible by 3
24 yes divisible by 3
27 yes divisible by 3
54 yes divisible by 3
18 yes divisible by 3
9 yes divisible by 3
12 yes divisible by 3
69 yes divisible by 3

In [27]:
'''Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
this property.'''

'Q7. What do you understand about mutable and immutable data types? Give examples for both showing \nthis property.'

In [28]:
# Immutable data types are those data types whose values cannot be modified once they are created means we cannot change or modify them 
'''Some of the example of immutable data types are ex -- int,str,float,bool'''
str = "ryzen"
str[2] = "g"
print(str)

TypeError: 'str' object does not support item assignment

In [29]:
# Mutable data types are those data types whose values can be modified once they are created means we can change or modify them 
'''Some of the example of mutable data types are ex -- list,dictionary,set'''
list = [23,45,"pavilion","tuple"]
list[2] = "Hp"
print(list)

[23, 45, 'Hp', 'tuple']